<div class="grid-post">
    <% @upcomming_events.each do |e| %>
        <div class="card box">
            <div class="card-body">
                <div class="card-title ">
                    <%=link_to e.title, event_path(e), class: 'mb-0 h4 text-uppercase text-decoration-none post-title' %>
                    <small>
                    <%= e.date %>
                </small>
                </div>
                <div class="card-text post-body">
                    <%= e.description %>
                </div>
            </div>
        </div>
    <% end %>
</div>