

<div class="upcoming-events p-3">
    <h2 class="text-Uppercase text-secondary ml-5 mb-n3">Upcoming Events</h2>
    <% if @upcomming_events %>
        <%= render 'upcoming-events' %>
    <% end %>

</div>
<div class="past-events p-3">

    <h2 class="text-Uppercase text-secondary ml-5 mb-n3">Past Events </h2>

    <% if @past_events %>
       <%= render 'past-events' %>
    <% end %>
</div>