// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.author-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.user-invitation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  box-shadow: 10px 10px 10px #aaa;
}

.main-invite {
  margin: 16px auto;
  text-transform: uppercase;
  text-align: center;
}
